* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;
   
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    color:#ffffff;

}

.box1{
    height: 50px;
    width: 138px;
}
.border{
    border:2px solid transparent;
}
.border:hover{
  border:2px solid white;
}

.amazon-logo{

    background-image: url('/Images/amazon_logo.png');
    background-size: cover;
    height: 100%;
    width:100%;
}

.box2{
    height:50px;
    width:170px;
}

.nav-add{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-add p{
    color:#cccccc;
    font-size: 0.7rem;
    padding-left: 9px;
}

.second-line{
    display: flex;
}

.second-add{
    font-weight:bold;
    padding-left: 3px;
    font-size: 0.9rem;
}

.nav-search{
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

.nav-select{
    width:52px;
    height:38px;
    background-color:#E6E6E6;
    border: none;
    padding-left: 5px;
    border-top-left-radius:10%;
    border-bottom-left-radius:10%;
}
.nav-search-input{
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    color: #cccccc;
    border: none;
    padding-left: 10px;
    font-size: 1rem;
}

.nav-search-input:hover{
    border: 2px solid orange;
}

.nav-search-icon{
    width: 45px;
    height: 38.3px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 179, 0);
    color: black;
    border: none;
    border-top-right-radius:10%;
    border-bottom-right-radius:10%;
}
.nav-language{
    height: 50px;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-select-lang{
    background-color: #0f1111;
    color:white;
    border: none;
    font-weight: bold;
}

.nav-acc-info{
    height: 50px;
    width: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acc-info-first{
  font-size: 0.75rem;
}

.acc-info-second{
    font-weight: bold;
}

.nav-orders{
    width: 82px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-first{

    font-size: 0.8rem;
    font-weight:none;
}

.nav-cart{
    display: flex;
    width: 95px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.panel{
    display: flex;
    background-color: #232f3e;
    width: 100%;
    height: 40px;
}

.menu{
    height: 40px;
    width: 58px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color:white;
}

.panel-ops{
    display: flex;
    color:white;
    align-items: center;
    width: 600px;
}

.panel-ops p{
    color: white;
    font-size: 0.87rem;
}

.para-ops{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 4px;
}
main{
    background-color: #E6E6E6;
}
.home-content{
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

.home-image{
    background-image: url('Images/home_image.jpg');
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.small-banner{
   
    text-align: center;
    background-color: #F5F6F6;
    height: 40px;
    width: 100%;
    line-height: 2.5;
    margin-bottom: 25px;
    margin-left:2%;
    margin-right:2%;
   
}
.small-banner a{
    color:#007185;
    text-decoration: none;
}
.shopping-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.b1{
    height: 420px;
    width: 350px;
    margin: 0.7rem;
    background-color: white;
}
.cards-first-para{
    padding-top:15px;
    padding-left: 11px;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-link{
  padding-left: 20px;
 
}
.card-link a{
    text-decoration: none;
    color:#007185;
}
.card-image{
    margin: 20px 15px 20px 15px;
    height: 300px;
    width: 320px;
    background-size: cover;
}
.footer1{
    height: 49px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #37475a;
    color:white;
    font-size: 0.8rem;
}

.footer2{
    background-color: #222f3d;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}


.footer3{
    background-color: #131A22;
    height: 398px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
   
}

.footer-logo{
    height: 68px;
    width: 158px;
    background-image: url('/Images/amazon_logo.png');
    background-size: cover;
}
.second-step-footer{
    margin-top: 10px;
    display: flex;
    height: 100px;
    width: 800px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}
.contact-us{
    margin-top: 30px ;
    display: block;
     
}
.contact-us p{
    font-weight: bold;
}
.contact-us a{
    display: block;
    color: #dddddd;
    margin-top: 10px;
    text-decoration: none;
    font-size: 0.89rem;
}

.other-content{
  height: 80px;
  width: 140px;
   
}
.other-content a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 0.75rem;
}

.copyright-footer{
    padding-bottom: 0px;
    height: 20px;
    color: white;
    font-size: 0.7rem;
}